<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Hacker News Mobile Reader</title>
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
        <div class="panel panel-left panel-reveal">
            <div class="content-block">
                <p>Left panel content goes here</p>
            </div>
        </div>
        <div class="views">
            <div class="view view-main">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="center sliding">Hacker News Top Stories</div>
                        <div class="right">
                            <!--
                            Right link contains only icon - additional "icon-only" class
                            Additional "open-panel" class tells app to open panel when we click on this link
                            -->
                            <!-- <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a> -->
                        </div>
                    </div>
                </div>
                <div id="stories" class="pages navbar-through toolbar-through">
                    <div data-page="index" class="page">
                        <div class="page-content">
                            <div class="loading" v-if="loading">
                                <span class="preloader"></span>
                            </div>
                            <div class="error" v-if="error">
                                Error Fetching Stories
                            </div>
                            <div class="list-block accordion-list" v-if="!error && !loading">
                                <ul>
                                    <li class="accordion-item" v-for="story in stories">
                                        <a href="#" class="item-content item-link">
                                            <div class="item-inner">
                                                <div class="item-title">{{ story.title }}</div>
                                                <div class="item-after">
                                                    <span class="badge">{{ story.num_comments }}</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="accordion-item-content">
                                            <div class="content-block">
                                                <p><a href="{{  story.url }}" class="external" target="_blank">{{ story.url }}</a></p>
                                                <p>Submitted by <strong> {{ story.author }}</strong> | {{ story.points }} points</p>
                                                <p><a href="https://news.ycombinator.com/item?id={{ story.objectID }}" class="external" target="_blank">https://news.ycombinator.com/item?id={{ story.objectID }}</a></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/framework7.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
